
@font-face {
  font-family: noahFont;
  src: url('../files/NoahTextBold.otf')
}  

body {
  background-color: #f3f3f3;
  font-family: noahFont;
}

.margintop {
  margin-top: 100px;
}

.right {
  float: right;
}

.chat-window {
  display: none;
}

.chat-list-container {
  background-color: #e9eeee;
  height: 650px;
  overflow-y: auto;
}

.chat-user {
  height: 75px;
  padding: 4px 0;
  margin: 7px 0px 0px 0px;
}

.nav-link-container {
  background-color: #9fc8ce;
  display: table;
}

.nav-link-dashboard {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  color: #e9eeee;
}

.text-right-container {
  background-color: #9fc8ce;
  display: table;
}

.add-btn {
  height: 50px;
  color: #e9eeee;
}

.top-bar {
  background-color: #9fc8ce;
  display: table;
}

.introduction {
  background-color:#9fc8ce;
  height: 650px;
}
