
@font-face {
  font-family: noahFont;
  src: url("../files/NoahTextBold.otf")
}  

body {
  background-color: #f3f3f3;
  font-family: noahFont;
}

.white {
  color: #e9eeee;
}

.blue {
  color: #9fc8ce;
}

.bluebackground {
  background-color: #9fc8ce;
}

.greybackground {
  background-color: #dde4e4;
}

.chat-window {
  display: none;
}

.chat-list-container {
  background-color: #e9eeee;
  height: 650px;
  overflow-y: auto;
}

.chat-user {
  height: 80px;
  padding: 10px 10px 0px 10px;
  margin: 0px -12px -0px -12px;
}

.recommendation-user {
  height: 80px;
  padding: 10px 10px 0px 10px;
  margin: 0px -12px -0px -12px;
}


.sender-message {
  width: 425px;
  min-height: auto;
  border: 1px solid #73c2cd;
  background-color: #9fc8ce;
  margin-left: 525px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  word-wrap: break-word;
}


.sender-file {
  margin-left: 530px;
  margin-bottom: 15px;
  width: 100%;
  max-width:410px;
}

.recipient-message {
  width: 425px;
  min-height: auto;
  border: 1px solid #a3a0a0;
  background-color: #c2c6c6;
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  word-wrap: break-word;
}

.recipient-file {
  margin-left: 30px;
  margin-bottom: 15px;
  width:100%;
  max-width:410px;
}
