
@font-face {
  font-family: noahFont;
  src: url('../files/NoahTextBold.otf')
}  

body {
  background-color: #f3f3f3;
  font-family: noahFont;
}

.white {
  color: #e9eeee;
}

.blue {
  color: #9fc8ce;
}

.bluebackground {
  background-color: #9fc8ce;
}

.chat-window {
  display: none;
}

.chat-list-container {
  background-color: #e9eeee;
  height: 650px;
  overflow-y: auto;
}

.chat-user {
  height: 75px;
  padding: 4px 0;
  margin: 7px 0px 0px 0px;
}