{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<style>
h {
    font-size: 18px
}
</style>
<div class="container" id="dashboard">
    <div class="row" style="margin-top: 20px;">
        <div class="col-3">
            <div class="row">
                <div class="col nav-link-container">
                    <a class="nav-item nav-link-dashboard" id="profile" href="/profile">{{ user.username }}</a>
                </div>
                <div class="col text-right-container">
                    <button type="button" class="btn add-btn right" data-bs-toggle="modal" data-bs-target="#addUserModal">
                        Add User
                    </button>

                    <div class="modal fade" id="addUserModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        <div class="form-floating">
                                            <input type="username" id="username" name="username" class="form-control" placeholder="Enter username">
                                            <label for="username">Username</label>
                                        </div>
                                        <p><p>
                                        <button class="btn" id="add-user-button" style="background-color: #9fc8ce; color: white;">Add User</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>  
            </div>
        </div>
        

        <div class="col-9 top-bar">
        </div>
    </div>
    <div class="row">
        <div class="col-3 chat-list-container">
            <div class="chat-list" id="chat-list">
            </div>
        </div>      
        <div class="col-9 introduction">
            <div class="chat-window" id="chat-user1">

            </div>

            <h2 style="text-align: center; color: #e9eeee; line-height: 175px; font-size: 70px;">Live Messenger<h2>
            <h2 style="text-align: center; color: #e9eeee; font-size: 30px;">Select a user to start messaging<h2>
        </div>
    </div>
</div>

{% endblock %}


