{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}

<style>
    body {
        background-color: #f3f3f3;
        font-family: noahFont;
    }

    h2 {
        font-size: 220%;
    }

    .overlay-header {
        position: absolute;
        transform: translate(25px, 25px);
        color: white;
    }
</style>



<div class="container margintop">
    <div class="card mx-auto" style="width: 300px">
        <img class="card-img-top" src="{{ url_for('static', filename='files/bluebox.png') }}">

        <div class="overlay-header">
            <h2>Live Messenger</h2>
            <p><p>
            <h2>Signup</h2>
        </div>

        <div class="card-body">
            <form method="POST">
                <div class="form-floating">
                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name">
                    <label for="firstName">First Name</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name">
                    <label for="lastName">Last Name</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter username">
                    <label for="username">Username</label>
                </div>
                <p></p>
                <div class="form-floating">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter password">
                    <label for="password">Password</label>
                </div>
                <p></p>
                <button class="btn btn-primary" style="background-color: #097c9c">
                    SIGN UP
                </button>
            </form>
        </div>
    </div>

    <p><p>
    <p class="text-center">Have an account?<p>
    <a class="nav-item nav-link" id="login" href="/login" style="color: #097c9c"><center>LOG IN NOW</center><a>
</div>



{% endblock %}